body {
    padding: 0;
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 8vh;
}

h2 {
    font-size: 4vh;
    color: #3d3d3d;
}

nav {
    height: 100px;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    background-color: white;
}

#nav_logo {
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    display: flex;
    font-size: 1.1em;
    color: black;
}

#nav_logo>* {
    margin-right: 20px;
}

#logo {
    height: 60px;
}

#nav_links>a {
    margin-left: 40px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

#main {
    margin: 0;
    background-color: white;
}

#header {
    height: calc(100vh - 100px);
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#background_video {
    position: absolute;
    top: 100px;
    z-index: -10;
    height: calc(100vh - 100px);
    filter: blur(2px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#learn {
    text-align: center;
    color: rgb(34, 34, 34);
    margin-top: 10vh;
}

#learn p {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#code_anim {
    margin-bottom: 8vh;
}

#algo_vid {
    height: 38vh;
    margin-top: 7vh;
    text-align: center;
}

.Split {
    display: flex;
    text-align: center;
}

.Split>div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (orientation: portrait) {
    .Split {
        flex-direction: column;
    }

    .split img {
        width: 100% !important;
        height: fit-content !important;
        margin-top: auto;
        margin-right: auto;
    }

    #algo_vid {
        width: 70% !important;
        height: auto !important;
    }

    .split>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .split>div>* {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #learn p {
        width: 80%;
    }
}

#datatypes {
    text-align: center;
    height: 50vh;
    filter: hue-rotate(175deg) brightness(2.2) saturate(0.7) contrast(1.2);
}

footer {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

footer>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 20vw;
    text-align: left;
    margin-bottom: 20px;
}

footer>div>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer_logo {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    text-align: right;
    margin-left: auto;
    width: 50%;
}

#footer_logo>img {
    height: 100px;
    margin-bottom: 20px;
}

#footer_logo>span {
    text-align: center;
    margin-bottom: 0%;
    line-height: 100%;
    vertical-align: bottom;
    display: inline-block;
}