body {
    padding: 0;
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 8vh;
}

h2 {
    font-size: 4vh;
    color: #3d3d3d;
}

nav {
    height: 100px;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

#nav_logo {
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    display: flex;
    font-size: 1.1em;
    color: black;
}

#nav_logo>* {
    margin-right: 20px;
}

#logo {
    height: 60px;
}

#nav_links>a {
    margin-left: 40px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

#main {
    margin: 0;
}

#header {
    height: calc(100vh - 100px);
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#learn {
    text-align: center;
    color: rgb(34, 34, 34);
    margin-top: 10vh;
}

#code_anim {
    margin-bottom: 8vh;
}

#algo_vid {
    height: 35vh;
    margin-top: 10vh;
    text-align: center;
}

.Split {
    display: flex;
}

.Split>div {
    width: 50%;
}

#datatypes {
    text-align: center;
    height: 50vh;
    filter: hue-rotate(175deg) brightness(2.2) saturate(0.7) contrast(1.2);
}

footer {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

footer>div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-width: 20vw;
}

footer>div>ul {
    list-style-type: none;
    padding: 0;
}

#footer_logo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#footer_logo>img {
    height: 50%;
    margin-top: 10%;
}

#footer_logo>span {
    text-align: center;
    margin-top: 5%;
    height: 50%;
    line-height: 50%;
    vertical-align: middle;
    display: inline-block;
}