body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.PrimaryColor {
    background-color: #efb501;
}

h1 {
    font-size: 8vh;
    background-color: #efb501;
    color: white;
    margin: 0;
    margin-bottom: 2vh;
}

h2 {
    font-size: 4vh;
    color: #3d3d3d;
}

.nav-wrapper {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    border-bottom: 2px solid goldenrod;
    z-index: 100;
}

.nav-logo {
    height: 100%;
    margin-left: 20px;
    display: inline-block;
}

.logo {
    height: 80%;
    margin-top: 5px;
}

.nav-expand {
    float: right;
    display: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 25px 10px;
}

.nav_links li a {
    text-decoration: none;
    color: black;
}

.nav_links li a:hover {
    color: #4d4d4d;
}

#title {
    line-height: 70px;
    vertical-align: middle;
    font-size: 1.2em;
    margin-left: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
}

.nav-mobile {
    width: 50px;
    height: 44px;
    display: inline-block;
    float: right;
    margin-right: 2vw;
    margin-top: 13px;
}

.nav-mobile img {
    width: 100%;
    height: 100%;
}

.nav-mobile a.icon {
    top: 0;
    width: 50px;
    height: 44px;
}

.Nav_mob_links.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.Nav_mob_links.responsive {
    display: inline-block;
    padding-top: 70px;
    margin-bottom: -70px;
}

.Nav_mob_links {
    width: 100%;
    height: auto;
    display: none;
}

.Center {
    text-align: center;
}

.Page {
    margin: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.FullPage {
    padding: 5vh;
}

.FlexRow {
    display: flex;
    width: 100%;
}

.Line {
    background-color: black;
    height: 1px;
}

.Card {
    background-color: white;
    width: 50vw;
    height: 35vh;
    margin-left: 25vw;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.253);
}

@media (orientation: portrait) {
    .Card {
        width: 90%;
        margin-left: 5%;
        font-size: 2em;
    }

    .CardSpan {
        font-size: 1em;
    }
}

.CardContent {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #efb501;
    color: rgb(61, 61, 61);
    padding-top: 5%;
}

.CardContent a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight: 800;
}

a:hover {
    cursor: pointer;
}

.CardContent>h3 {
    font-weight: 200;
    letter-spacing: 0.1em;
    margin: 0%;
    font-size: 2em;
    background-color: #efb501;
}

.CardContent>span {
    color: rgb(85, 85, 85);
}

.CardContent>hr {
    border-top: 1px solid rgb(107, 107, 107);
    border-bottom: none;
    margin-bottom: 5%;
}

.CardImage {
    width: 40%;
    height: 100%;
    background-color: rgb(61, 61, 61);
    overflow: hidden;
    display: grid;
}

.CardImagePortrait {
    width: 70%;
    border-radius: 100%;
    text-align: center;
    margin-left: 15%;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    border: 2px solid rgb(223, 223, 223);
}

#main {
    margin: 0;
    background-color: white;
}

#header {
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efb501;
    overflow: hidden;
}

#headerkey {
    color: white;
}

#background_video {
    position: absolute;
    top: 100px;
    z-index: -10;
    height: calc(100vh - 100px);
    filter: blur(2px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#learn {
    text-align: center;
    color: rgb(34, 34, 34);
}

#learn p {
    position: relative;
    width: 50%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#code_anim {
    margin-bottom: 8vh;
}

#algo_vid {
    height: 38vh;
    margin-top: 7vh;
    text-align: center;
}

.Split {
    display: flex;
    text-align: center;
}

.Split>div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (orientation: portrait) {
    .Split {
        flex-direction: column;
    }

    .split img {
        width: 100% !important;
        height: fit-content !important;
        margin-top: auto;
        margin-right: auto;
    }

    #algo_vid {
        width: 70% !important;
        height: auto !important;
    }

    .split>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .split>div>* {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #learn p {
        width: 80%;
    }

    #footer_logo {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    footer>div {
        text-align: center;
    }
}

#datatypes {
    text-align: center;
    max-height: 50vh;
    filter: hue-rotate(175deg) brightness(2.2) saturate(0.7) contrast(1.2);
    max-width: 80vw;
}

footer {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

footer>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 20vw;
    text-align: left;
    margin-bottom: 20px;
}

footer>div>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer_logo {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    text-align: right;
    margin-left: auto;
    width: 50%;
    justify-content: center;
}

#footer_logo>img {
    height: 100px;
    margin-bottom: 20px;
}

#footer_logo>span {
    text-align: center;
    margin-bottom: 0%;
    line-height: 100%;
    vertical-align: bottom;
    display: inline-block;
}

@media only screen and (min-width: 1024px) {
    .nav-mobile {
        display: none;
    }

    .nav-expand {
        display: inline-block;
    }
}

footer a {
    background-color: #efb501;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 20px;
}

footer a:hover {
    background-color: black;
    color: white;
}