body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    box-sizing: border-box;
}

@font-face {
    font-family: "AvenirNextW10-Medium";
    src: url("..//stylesheets/AvenirNextLTPro-Cn.otf");
}

h1 {
    font-size: 3em;
    font-family: AvenirNextW10-Medium;
}

h2 {
    font-size: 2.3em;
    font-family: AvenirNextW10-Medium;
}

.hidden {
    display: none;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.nav__wrapper {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.0);
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 200;
}

.nav__color--white a {
    color: white;
}

.nav__color--black a {
    color: black;
}

.nav__color--black .nav__wrapper {
    background-color: white;
    border-bottom: 1px solid #efb501;
}

.nav__links__left {
    list-style: none;
    float: left;
    margin-left: 40px;
    padding: 0;
}

.nav__links__right {
    top: 0;
    list-style: none;
    float: right;
    text-align: right;
    padding: 0;
}

.nav__links__left li {
    text-decoration: none;
    display: inline-block;
    padding: 18px 10px;
}

.nav__links__left li a {
    text-decoration: none;
}

.nav__links__right li {
    display: inline-block;
    padding: 18px 35px;
}

.nav__links__right li a {
    text-decoration: none;
}

#signin_btn {
    background-color: black;
    border-radius: 8px;
    padding: 12px 20px;
    margin-right: 50px;
}

#signin_btn a {
    color: white;
}

#menu__icon {
    width: 50px;
    margin-top: 8px;
}

.nav__logo {
    height: 80px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__logo img {
    height: 75%;
    margin-top: 10px;
}

.navmob {
    display: none;
    float: right;
    margin-right: 20px;
    margin-top: 7px;
    filter: contrast(3);
}

.navmob__links {
    position: fixed;
    top: 80px;
    z-index: 200;
    background-color: white;
    text-align: center;
    width: 100vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.navmob__links>ul {
    list-style: none;
    padding: 0;
}

.navmob__links>ul>li {
    margin-top: 10px;
}

.navmob__links a {
    text-decoration: none;
    color: black;
}

.navmob__links>ul>button {
    width: 30%;
}

@media only screen and (max-width: 650px) {
    .navmob {
        display: block;
    }

    .nav__expand {
        display: none;
    }

    #signin_btn {
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }
}

#search__bar {
    margin-top: 80px;
    background-color: #efb501;
    width: 100vw;
    height: 80px;
    text-align: center;
}

#search__bar>div {
    width: 80%;
    height: 80px;
    margin-left: 10%;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

#search__bar>div>div {
    width: 80%;
    height: 80px;
}

#search__bar>div>div>input {
    outline: lightgray;
    background-color: white;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
    vertical-align: middle;
    transition: 100ms ease-out;
    outline: none;
    border: none;
    -webkit-appearance: none;
    margin: 0;
}

#search__bar>div>div>span {
    line-height: 15px;
    position: absolute;
    left: 12%;
    top: 90px;
    height: 15px;
    width: 130px;
    font-size: 11px;
    text-align: center;
    background-color: white;
    vertical-align: middle;
    z-index: 0;
}

#search__bar>div>button {
    width: 20%;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    margin: 0;
    margin-left: 1%;
    transition: 100ms ease-out;
    margin-top: 20px;
    font-size: 14px;
}

#search__bar>div>button:hover {
    color: white;
    background-color: black;
    box-sizing: border-box;
    transition: 100ms ease-in;
}

#search__wrapper {
    width: 100%;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

#search__wrapper h2 {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.search__panel--top {
    margin: 0;
    padding: 0;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    display: flex;
    padding-right: 10%;
}

.search__panel--main {
    justify-content: space-between;
}

.search__panel--bottom {
    height: 100%;
}

#search__filters {
    width: 30%;
    padding-left: 10%;
    box-sizing: border-box;
    margin-right: 5%;
    color: rgb(0, 0, 0);
}

#search__filters .search__panel--bottom {
    border-right: 1px solid rgb(216, 216, 216);
}

#filter__indicator {
    background-color: rgb(216, 216, 216);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
}

#search__main {
    width: 65%;
}

@media only screen and (max-width: 650px) {
    #search__wrapper {
        flex-wrap: wrap;
    }

    #search__filters {
        width: 100%;
    }

    #search__main {
        width: 100%;
    }

    .search__panel--top {
        padding-right: 0;

    }

    .search__panel--top>h2 {
        text-align: center !important;
        width: 100%;
    }

    .search__panel--bottom {
        border: none !important;
    }

    #search__results {
        width: 100% !important;
    }
}

.group {
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.group__header {
    font-size: 16px;
    color: #272727;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.filter {
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: none;
    text-align: left;
    padding: 5px;
    font-size: 16px;
    color: rgb(75, 75, 75);
    padding-left: 20px;
}

.filter--toggled {
    background-color: rgb(216, 216, 216);
}

.filter:hover {
    cursor: pointer;
}

#search__sort {
    float: right;
}

#SigninPage {
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

#RegisterPage {
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
}

.SigninForm__wrapper {
    width: 80%;
    height: 500px;
    border-radius: 25px;
    background-color: white;
    margin: auto;
    display: block;
    margin-top: 100px;
    overflow-y: hidden;
}

.RegisterForm__wrapper {
    width: 80%;
    height: 970px;
    border-radius: 25px;
    background-color: white;
    margin: auto;
    display: block;
    margin-top: 100px;
    overflow-y: ;
}

.SigninForm__left {
    background-color: #efb501;
    width: 30%;
    height: 100%;
    border-radius: 23px;
    overflow: hidden;
    display: inline-block;
}

.SigninForm__left img {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    display: block;
}

#siginformlefth {
    text-align: center;
    color: white;
}

.SigninForm__right {
    background-color: white;
    border-radius: 23px;
    width: 70%;
    height: 100%;
    float: right;
    display: inline-block;
}

#siginformrighth {
    color: black;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
}


/*input[type=text] {
    width: 90%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 30px 0;
    margin-left: 50px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}*/

.submit__signin__btn {
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #efb501;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
    border: none;
    height: 70px;
}

#banner {
    width: 100vw;
    height: fit-content;
    background-color: white;
}

#banner_img {
    width: 100vw;
    height: auto;
}

.header__homepage__content {
    position: absolute;
    z-index: 100;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vw;
    color: white;
}

.header__homepage__content h1 {
    font-size: 3vw;
}

#search {
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    margin-left: 0px;
    font-size: 1em;
    border-bottom: none;
    outline: none;
    padding: 14px;
}

#search__btn {
    background-color: black;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 14px 40px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

@media only screen and (max-width: 650px) {
    .header__homepage__content {
        box-sizing: border-box;
        position: absolute;
        z-index: 100;
        width: 100vw;
        margin-left: 0;
        color: white;
        top: 50px;
        text-align: center;
        font-size: 10px;
    }

    .header__homepage__content h1 {
        font-size: 24px;
    }

    #search {
        margin: 0;
        width: 50%;
    }

    .search__btn {
        width: 30%;
        height: 40px;
    }

    #banner {
        height: 40vh;
        width: 100vw;
        background-image: url("/images/banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    #banner_img {
        display: none;
    }
}

.mainpage {
    text-align: center;
    padding-top: 40px;
    background-color: white;
    margin: 0;
}

.mainpage>h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#mainpage__uu {
    margin-top: 30px;
    background: rgb(241, 241, 241);
    padding-top: 70px;
    display: flex;
    padding-bottom: 70px;
}

#mainpage__uu>div {
    width: 50%;
    margin: auto;
    text-align: left;
    margin-right: 30px;
}

#mainpage__uu>img {
    margin-left: 60px;
    width: 30vh;
    height: auto;
    margin: auto;
}

#mainpage__uu>h1 {
    font-size: 30px;
}

#mainpage__uu a {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 12px 5px 12px;
    outline: none;
    -webkit-appearance: none;
    text-decoration: none;
    margin-top: 15px;
    display: block;
    width: 100px;
}

#mainpage__uu a:hover {
    background-color: #efb501;
    color: black;
    cursor: pointer;
}

.mainpage__panel {
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

@media only screen and (max-width: 650px) {
    .mainpage__panel {
        padding: 20px;
        padding-left: 80px;
        padding-right: 80px;
        margin: auto;
    }

    #mainpage__uu {
        flex-wrap: wrap;
    }

    #mainpage__uu>div {
        width: 80%;
        text-align: center;
        margin-right: auto;
    }

    #mainpage__uu>img {
        margin-top: 30px;
    }

    #mainpage__uu a {
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    background-color: black;
    padding: 20px;
    position: relative;
    z-index: 100;
}

#footer__logo__img {
    width: 50px;
}

#footer__logo {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    display: inline-flex;
    font-size: 18px;
    margin-left: 40px;
    max-width: 300px;
}

#footer__logo>span {
    margin-left: 12px;
}

#footer__links {
    color: white;
    list-style-type: none;
    float: right;
    margin-right: 40px;
}

#footer__links>li {
    float: right;
    margin-left: 10px;
}

#footer__links>li:hover {
    cursor: pointer;
}

#project {
    color: rgb(143, 143, 143);
    text-align: center;
    padding: 10px;
}

#search__results button {
    background-color: black;
    height: 40px;
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#search__results {
    width: 90%;
}

.course__panel {
    width: 100%;
    background-color: rgb(241, 241, 241);
    height: 230px;
    margin-bottom: 30px;
}

.course__panel:hover {
    cursor: pointer;
}

.course__panel>img {
    margin-left: 7.5%;
    margin-top: 45px;
    width: 15%;
}

.course__panel>div {
    width: 70%;
    float: right;
    font-size: 15px;
    color: rgb(131, 131, 131);
}

.course__panel>div>h2 {
    font-size: 25px;
    margin: 20px !important;
    margin-left: 0px !important;
    color: black;
    margin-bottom: 15px !important;
}

.course__panel>div>span {}

.course__panel>div>div {
    height: 110px;
    width: 80%;
    overflow: hidden;
    box-sizing: border-box;
}


/* new login / sign up page */

.Signin__view {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.Signin__wrap {
    box-sizing: border-box;
    width: 390px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    padding: 77px 55px 33px;
}

.Signin__form__title {
    display: block;
    font-size: 35px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.Signin_input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

input {
    outline: none;
    border: none;
}

.input {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.logo {
    width: 35%;
    display: block;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
}

.SignIn__form {
    width: 100%;
}

.Signin__form__btn__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 70px;
}

.Signin__form__btn__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.0);
}

.Signin__form__bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #efb501;
    background: -webkit-linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    background: -o-linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    background: -moz-linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    background: linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.Signin-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    outline: none !important;
    border: none;
    background: 0 0;
    cursor: pointer;
}

.Signin-form-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.SignIn__bottomtext {
    text-align: center;
    padding-top: 100px;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.Signin__form__error {
    display: block;
    font-size: 17px;
    color: red;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.Register__view {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.Register__wrap {
    box-sizing: border-box;
    width: 390px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    padding: 77px 55px 33px;
}

.Register__form__title {
    display: block;
    font-size: 35px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.Register_input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 10px;
}

input {
    outline: none;
    border: none;
}

.input {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.logo {
    width: 35%;
    display: block;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
}

.Register__form {
    width: 100%;
}

.Register__form__btn__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}

.Register__form__btn__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.0);
}

.Register__form__bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #efb501;
    background: -webkit-linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    background: -o-linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    background: -moz-linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    background: linear-gradient(right, #efb501, #f36a0f, #efb501, #f36a0f);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.Register-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    outline: none !important;
    border: none;
    background: 0 0;
    cursor: pointer;
}

.Register-form-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.Register__bottomtext {
    text-align: center;
    padding-top: 50px;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.Register__form__error {
    display: block;
    font-size: 17px;
    color: red;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    width: 100%;
    font-size: 17px;
    box-sizing: border-box;
    margin-top: 15px;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid #555555;
    height: 45px;
    background-color: antiquewhite;
}