<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          type="text/css"
          href="/stylesheets/stylesheet.css">
</head>

<body>
    <div class="course_block">
        <div class="text_center">
            <h2>Course Title</h2>
            <hr>
            <h3>Study Program</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
            massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
            rhoncus ut, imperdiet a, venenatis vitae,
            justo. Nullam dictum felis eu pede mollis pretium. Integer
            tincidunt. Cras dapibus. Vivamus elementum semper
            nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
            eu, consequat vitae, eleifend ac, enim.
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius
            laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
            augue. Curabitur ullamcorper ultricies
            nisi. Nam eget dui.
        </p>
        <div class="course_proffessor">

            <img class="portrait"
                 src="assets/img/portrait.jpeg"
                 alt="proffessor">

            <span>~Proffessor's Name: <%= teacher %></span>

            <div class="course_info">
                <dt>
                    Study Program:
                </dt>
                <dd>
                    This Courses' program
                </dd>
                <hr>
                <dt>
                    Semester:
                </dt>
                <dd>
                    this courses' Semester
                </dd>
                <hr>
                <dt>
                    Acedemic Level:
                </dt>
                <dd>
                    Courses' Acedamic Level
                </dd>
                <hr>
                <dt>
                    Study Points:
                </dt>
                <dd class="lowest_dd">
                    Course' Study Points
                </dd>
            </div>
        </div>

    </div>
</body>

</html>