<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <nav class="nav__color--white">
        <% include ../partials/navbar %>
    </nav>
    <header id="header__homepage">

        <div class="header__homepage__content">
            <h1>'STOP DREAMING</h1>
            <h1> START LEARNING'</h1>
            <input type="text"
                   id="search"
                   name="search"
                   placeholder="What do you wanna learn?"></input>
            <button class="search__btn">SEARCH</button>
        </div>
        <div id="banner">
            <img id="banner_img"
                 src="/images/banner.png "
                 alt="banner " />
        </div>
    </header>
    <div class="mainpage">

        <h2>Learn everything you ever wanted to learn</h2>
        <p id="mainpage__text"> UU Courses gives you the oppurtunity to browse
            every course available on the university of Utrecht. You can search,
            filter and register for courses if you are a student. UU Courses is
            a students project and we like you to test it out. </p>

    </div>

    <% include ../partials/footer %>
</body>

</html>