<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <nav>
        <% include ../partials/navbar %>
    </nav>

    <img style="width: 100vw; height: auto;" src="/images/banner.png" alt="banner">
</body>

</html>