<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="/javascripts/search.js"></script>
</head>

<body>
    <nav class="nav__color--black">
        <% include ../partials/navbar %>
    </nav>

    <div id="search__bar">
        <div>
            <div>
                <input id="search__input"
                       type="text"
                       placeholder=""
                       value="<%= value %>" />
                <span>SEARCH COURSE</span>
            </div>
            <button id="search__button">REFINE SEARCH</button>
        </div>
    </div>

    <div id="search__wrapper"
         class="unselectable">
        <aside id="search__filters">
            <div class="search__panel--top">
                <h2>Filters</h2>
                <div id="filter__indicator">10</div>
            </div>
            <div class="search__panel--bottom">
                <div class="group">
                    <div class="group__header">Program</div>
                    <button
                            class="filter filter--toggled">Computer_Science</button>
                    <button class="filter filter--toggled">Mathematics</button>
                    <button
                            class="filter filter--toggled">Information_Science</button>
                </div>

                <div class="group">
                    <div class="group__header">Academic levels</div>
                    <button class="filter filter--toggled">bachelor</button>
                    <button class="filter filter--toggled">master</button>
                </div>

                <div class="group">
                    <div class="group__header">Semester</div>
                    <button class="filter filter--toggled">1</button>
                    <button class="filter filter--toggled">2</button>
                    <button class="filter filter--toggled">3</button>
                    <button class="filter filter--toggled">4</button>
                </div>
            </div>
        </aside>
        <div id="search__main">
            <div class="search__panel--top search__panel--main">
                <h2 id="search__info">We found no courses on: "<%= value %>"
                </h2>
                <!-- <div id="search__sort">
                    <span>Sort by: </span>
                    <select id="sort__options">
                        <option value="date">Date</option>
                    </select>
                </div> -->
            </div>
            <div id="search__results"
                 class="search__panel--bottom"></div>
        </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/backtotop %>

    <script id="data"
            type="application/json">
{
    "loggedin": <%= loggedin %>
}
</script>
</body>

</html>