<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <script src="/javascripts/search.js"></script>
</head>

<body>
    <nav class="nav__color--black">
        <% include ../partials/navbar %>
    </nav>

    <div id="search__bar">
        <div>
            <div>
                <input id="search__input"
                       type="text"
                       placeholder="" />
                <span>SEARCH COURSE</span>
            </div>
            <button id="search__button">REFINE SEARCH</button>
        </div>
    </div>

    <div id="search__wrapper"
         class="unselectable">
        <aside id="search__filters">
            <div class="search__panel--top">
                <h2>Filters</h2>
                <div id="filter__indicator">0</div>
            </div>
            <div class="search__panel--bottom">
                <div class="group">
                    <div class="group__header">Program</div>
                    <button class="filter">Beta Science</button>
                    <button class="filter">etc</button>
                    <button class="filter">etc</button>
                </div>

                <div class="group">
                    <div class="group__header">Academic levels</div>
                    <button class="filter">level 1</button>
                    <button class="filter">level 2</button>
                    <button class="filter">level 3</button>
                    <button class="filter">level 4</button>
                </div>
            </div>
        </aside>
        <div id="search__main">
            <div class="search__panel--top search__panel--main">
                <h2 id="search__info">We found no courses</h2>
                <div id="search__sort">
                    <span>Sort by: </span>
                    <select id="sort__options">
                        <option value="date">Date</option>
                    </select>
                </div>
            </div>
            <div class="search__panel--bottom"></div>
        </div>
    </div>
</body>

</html>