<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <nav class="nav__color--black">
        <% include ../partials/navbar %>
    </nav>

    <div id="search__bar">
        <div>
            <div>
                <input type="text"
                       placeholder="" />
                <span>SEARCH COURSE</span>
            </div>
            <button>REFINE SEARCH</button>
        </div>
    </div>
</body>

</html>