<div id="backtotop__button">
    <a href="#top">
        <img src="/group18/images/up-arrow.svg"
             alt="arrow to top of the page" />
    </a>
</div>

<script src="/group18/javascripts/backtotop.js"></script>