<footer>
    <div id="footer__logo">
        <img id="footer__logo__img"
             src="/images/logo/logo.svg"
             alt="logo" />
        <span>University Utrecht</span>
    </div>
    <ul id="footer__links">
        <li><a>HOME</a></li>
        <li><a>ABOUT</a></li>
        <li><a>FAQS</a></li>
        <li><a>CONTACT</a></li>
    </ul>
    <hr />
    <div id="project">QD,PS,JK Project</div>
</footer>