<nav class="nav__wrapper">

    <nav class="nav__expand">
        <ul class="nav__links__left">
            <li><a href="/">HOME</a></li>
            <li><a href="/">ABOUT</a></li>
            <li><a href="/">FAQS</a></li>
        </ul>
        <ul class="nav__links__right">
            <li><a href="/">CONTACT</a></li>
            <li id="signin_btn"><a href="/">SIGN IN</a></li>
        </ul>
    </nav>
    <nav class="nav__logo">
        <img class="logo" src="/images/logo/logo.svg" alt="logo">
    </nav>
    <!-- <nav class="navmob">
        <a href="javascript:void(0);" class="icon" onclick="MenuClick()"><img alt="menu icon" src="assets/img/menu/menu2.svg"></a>
    </nav>-->