<nav class="nav__wrapper">

    <nav class="nav__expand">
        <ul class="nav__links__left">
            <li><a href="/">HOME</a></li>
            <li><a href="https://www.uu.nl/en/organisation/profile">ABOUT</a>
            </li>
            <li><a
                   href="https://students.uu.nl/en/practical-information/enrolment/digital-student-card/frequently-asked-questions">FAQS</a>
            </li>
        </ul>
        <ul class="nav__links__right">
            <li><a href="https://www.uu.nl/organisatie/contact">CONTACT</a></li>
            <li id="signin_btn"><a href="/signin">SIGN IN</a></li>
        </ul>
    </nav>
    <nav class="nav__logo">
        <img src="/images/logo/logo.svg"
             alt="logo" />
    </nav>
    <nav class="navmob">
        <a href="javascript:void(0);"
           class="icon"
           onclick="MenuClick()"><img id="menu__icon"
                 alt="menu icon"
                 src="/images/menu.svg"></a>
    </nav>

    <nav class="navmob__links hidden">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="https://www.uu.nl/en/organisation/profile">ABOUT</a>
            </li>
            <li><a
                   href="https://students.uu.nl/en/practical-information/enrolment/digital-student-card/frequently-asked-questions">FAQS</a>
            </li>
            <li><a href="https://www.uu.nl/organisatie/contact">CONTACT</a></li>
            <li id="signin_btn--mob"><a href="/signin">SIGN IN</a></li>
        </ul>
    </nav>
</nav>